.url {
	background: #ffa;
	border-radius: 8px;
	font-size: 1.25em;
	padding: 16px;
	text-align: center;

	a {
		color: #000;
		text-decoration: none;
		display: block;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	div {
		font-weight: bold;
	}
}

.row {
	margin-top: 16px;
}

.header {
	margin-bottom: 8px;
}

.privateURL {
	margin-top: 8px;
}
