.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	max-width: 6in;
	padding: 8px;
	width: 100%;
}
