.container {
	display: flex;
	flex-direction: column;
}

.row {
	background: #eee;
	display: flex;
	padding: 8px;

	& + .row {
		margin-top: 8px;
	}
}

.inputs {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-right: 4px;

	div {
		display: flex;
		flex-wrap: wrap;

		& + div {
			margin-top: 4px;
		}
	}

	strong,
	input {
		flex-grow: 1;
	}

	strong {
		font-size: 0.75em;
	}

	strong + strong,
	input + input {
		margin-left: 5px;
	}

	textarea {
		flex-basis: 100%;
		resize: vertical;
		min-height: 96px;
	}
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.action {
	width: 24px;
	margin-top: 8px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.new {
	background: #afa;
}

// -----------------------------------------------------------------------------

.rowDirty {
	composes: row;

	outline: 2px #f00 solid;
}

// -----------------------------------------------------------------------------

@media (max-width: 437px) {
	.row div {
		input + input {
			flex-basis: 100%;
			margin-top: 4px;
			margin-left: 0;
		}
	}
}
