.fullscreen {
	background: rgba(255, 255, 255, 0.9);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;

	circle {
		stroke: #666;
	}
}
