.control {
	display: flex;
	flex-direction: column;
	justify-items: center;

	textarea {
		min-height: 92px;
		resize: vertical;
	}

	strong {
		display: flex;
	}

	svg {
		height: 14px;
		margin-left: 4px;
		width: auto;
	}
}

// -----------------------------------------------------------------------------

.controlDirty {
	composes: control;

	color: #f00;
}
