.row {
	align-items: center;
	background: #eee;
	display: flex;
	justify-content: center;
	padding: 8px;

	& + .row {
		margin-top: 8px;
	}

	button {
		margin-left: 4px;
	}
}

.inputs {
	display: flex;
	flex-basis: 100%;

	strong,
	input {
		flex-grow: 1;
		flex-basis: 50%;
	}

	strong {
		font-size: 0.75em;
	}

	strong + strong,
	input + input {
		margin-left: 5px;
	}
}

.action {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 4px;

	svg {
		height: 14px;
		width: auto;
	}
}

.new {
	background: #afa;
}

// -----------------------------------------------------------------------------

.rowDirty {
	composes: row;

	outline: 2px #f00 solid;
}

// -----------------------------------------------------------------------------

@media (max-width: 437px) {
	.row div {
		flex-direction: column;

		input {
			flex-basis: 100%;
			margin-top: 4px;
			margin-left: 0;
		}
	}
}
